.cover {
  display: flex;
  height: fit-content;
  margin-bottom: 1rem;
  transition: all 0.4s ease-out;
  animation: come-out 0.2s ease-out;
}
@keyframes come-out {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.angle__other {
  -webkit-clip-path: polygon(100% 0, 0 0, 100% 100%);
  clip-path: polygon(100% 0, 0 0, 100% 100%);
  background: #fff;
}
.message__other {
  background-color: #fff;
  border-radius: 0 10px 10px 10px;
  border: 0;
  height: fit-content;
}
.message__me {
  background-color: var(--light-green);
  border-radius: 10px 0px 10px 10px;
  border: 0;
  height: fit-content;
}
.angle__me {
  -webkit-clip-path: polygon(100% 0, 0 0, 0 100%);
  clip-path: polygon(100% 0, 0 0, 0 100%);
  background-color: var(--light-green);
}
.angle__other,
.angle__me {
  width: 1.3rem;
  height: 1rem;
  border: 0;
}
.message__other,
.message__me {
  padding: 0.6rem 1.2rem;
  max-width: 45%;
}
.time {
  display: flex;
  justify-content: end;
  font-size: 0.7rem;
  color: var(--dark-grey);
}
.right {
  justify-content: end;
}
.action {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 4px;
}
.text {
  margin-right: 1rem;
}
.mark img {
  width: 0.8rem;
}
