header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem 1rem;
  background-color: var(--light-grey);
  height: fit-content;
  /* position: relative; */
}
.picture {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
  overflow: hidden;
}
.picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.extra {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.extra img {
  height: 1.2rem;
  cursor: pointer;
}
