.list {
  max-height: 100%;
  overflow: hidden;
  overflow-y: scroll;
  margin: 0;
  list-style: none;
  padding: 0px;
}
.list::-webkit-scrollbar-track {
  background: transparent;
}
.list::-webkit-scrollbar-thumb {
  background: var(--medium-grey);
}
.list::-webkit-scrollbar {
  background: transparent;
  width: 5px;
}
.connection {
  background: #ffd279;
  height: fit-content;
  padding: 1rem 2rem;
}
.connection h4 {
  font-weight: 400;
}
.connection p {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  font-weight: 300;
}
