.cover {
  min-height: 100vh;
  max-height: 100vh;
  min-width: 850px;
  padding-top: 1.2rem;
  overflow-y: hidden;
  font-family: "Helvetica Neue", sans-serif;
  font-family: "Helvetica 25 UltraLight", sans-serif;
  font-family: "Helvetica 35 Thin", sans-serif;
  font-family: "Helvetica 45 Light", sans-serif;
  font-family: "Helvetica 55 Roman", sans-serif;
  font-family: "Helvetica 65 Medium", sans-serif;
  background: linear-gradient(
    to bottom,
    var(--primary-green) 15%,
    var(--medium-grey) 15%,
    var(--medium-grey) 100%
  );
  background-repeat: no-repeat;
}
